{% extends 'base.html.twig' %}

{% block title %}Test blog app
{% endblock %}

{% block body %}

	<section class="posts-wrapper pt-4">
		<h1 class="mb-6">Welcome to the Test blog application</h1>

		{% if posts %}
			<div class="posts">
				{% for post in posts %}
					<article class="posts__post mb-4">
						<h2 class="posts__post_title">
							<a href="{{ path('post', { id: post.id }) }}">{{ post }}</a>
						</h2>

						{% if post.description %}
							<div class="posts__post_description">
								{{ post.description }}
							</div>
						{% endif %}


					</article>
				{% endfor %}
			</div>
		{% endif %}
	</section>
{% endblock %}
